body{
	background-color: #e9d0b2;
}

.navbar-brand img {
	max-width: 60px;
}

section.jumbotron {
	background-size: cover;
	background-position: center;
	min-height: 300px;
}

.bg-transparent {
    background-color: rgba(20,20,20,0.4) !important;
}

/* Featurettes
------------------------- */

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

footer {
	height: 86px;
}
